.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.app h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.app p {
    font-size: 1.1rem;
}